
.mgtop{
    margin-top: 1rem ;
}
.pdtop{
    padding-top: 3rem;
}
.colorred{
    color:#eb4034;
    font-weight: bold;
}
.bigtext{
    font-size: 4rem;
    font-weight: bolder;
}
.ptxt{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
}
.white{
    color:white;
}
.marge{
    margin-left: 5rem;
    margin-right: 5rem;
}
.margehd{
    margin-left: 3rem;
    height: 650px;
}
.bggrey{
    background-color: whitesmoke;
}
.margett{
    margin-top: 2rem ;
    margin-bottom: 2rem;
}
.margelast{
    padding-bottom: 40px;
}
.bgdark{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("../img/imgdiv.jpg");

}
.margetb{
    padding-top: 2rem;
    padding-bottom: 5rem;

}

.titletxt{
    font-size: 2rem;
    font-weight: 2px;
}
.titletxt2{
    font-size: 2rem;
    font-weight: bolder;
}

.hrtitle{
    height:2px;
    background-color: rgb(255, 255, 0);
    
}

.hrsepare{
    height: 0.5px;
    background-color: wheat;
}

.basiclist{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.allright{
    font-size: 1.5rem;
}
.ftpadding{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.pdtb-5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.teamtxt{
    font-size: 1rem;
    font-weight: bold;
}

.abouttxt{
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.roundel{
    border-radius: 5%;
}
.roundel10{
    border-radius: 10%;
}