
.mgtop{
    margin-top: 1rem ;
}
.pdtop{
    padding-top: 3rem;
}
.colorred{
    color:#eb4034;
    font-weight: bold;
}
.bigtext{
    font-size: 4rem;
    font-weight: bolder;
}
.ptxt{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
}
.white{
    color:white;
}
.marge{
    margin-left: 5rem;
    margin-right: 5rem;
}
.bggrey{
    background-color: whitesmoke;
}